@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-accent: '#A30015';
  --color-dark: '#000000';
  --color-triary: #e4e4ed;
  --transition: 0.5s;
  --anime-loading: 1s;
  --scale: 102%;
  --border-radius: 50%;
  --null: 0;
  --hundred-pixel: 100px;
}

*,
*::before,
*::after {
  padding: var(--null);
  margin: var(--null);
  box-sizing: border-box;
}

img {
  transition: var(--transition) ease all;
  -webkit-transition: var(--transition) ease all;
  -moz-transition: var(--transition) ease all;
  -ms-transition: var(--transition) ease all;
  -o-transition: var(--transition) ease all;
}

img:hover {
  scale: var(--scale);
}

.loading {
  width: var(--hundred-pixel);
  height: var(--hundred-pixel);
  border-radius: var(--border-radius);
  background: radial-gradient(farthest-side, var(--color-accent) 95%, var(--color-dark)) 50% 1px/24px
      24px no-repeat,
    radial-gradient(farthest-side, var(--color-dark) calc(100% - 28px), var(--color-triary) 0);
  animation: circle var(--anime-loading) infinite linear;
}

@keyframes circle {
  to {
    transform: rotate(1turn);
  }
}